body{
  color: red;
  backgroud: black;
  margin: 0px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

section {
	background: rgb(184,156,213);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

img{
	

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}
img{  </a>
        </div>
    </section>
    <section>
        <h2>filmese series</h2>
        <section class="categoria">
        <div class="categoria-videos">
            <a hret="https://www.youtube.com/watch?v=t3ormxRMzvE">
              <img src="https://img.youtube.com/vi/YM5PrmGo4Hs/maxresdefault.jpg"/>
            <a/>
                <a hret="https://www.youtube.com/watch?v=t3ormxRMzvE">
              <img src="https://img.youtube.com/vi/cUessE/maxresdefault.jpg"/>
            <a/>
            <a hret="https://www.youtube.com/watch?v=t3ormxRMzvE">
              <img src="https://img.youtube.com/vi/vtmm403l15Q/maxresdefault.jpg"/>
            <a/>
            <a hret="https://www.youtube.com/watch?v=vtmm403l15Q">
              <img src="https://img.youtube.com/vi/X679-he9diw/maxresdefault.jpg"/>
            <a/>
            <a hret="https://www.youtube.com/watch?v=t3ormxRMzvE">
              <img src="https://img.youtube.com/vi/3LLQ3iBzEo0/maxresdefault.jpg"/>
            <a/>
